<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form | CarClaim</title>
    <link rel="stylesheet" href="/static/styles/form.css">
</head>

<body>
    <header>
        <nav class="nav-bar">
            <a id="project-title" class="nav-item" href="/">CarClaim</a>
        </nav>
    </header>
    <img class="bg-image" src="/static/files/download.jpg" alt="bg">
    <main>
        <div class="welcome">
            <p>Welcome to CarClaim Form</p>
        </div>
        <div class="container">
            <form action="{{ url_for('prediction') }}" method="post">
                <input class="form-option" type="number" name="age" id="age" min="19" max="64" placeholder="Age">
                <select name="sex" class="form-option" id="sex" required>
                    <option value="" selected disabled hidden>Sex</option>
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                </select>
                <select name="education_level" class="form-option" required>
                    <option value="" selected disabled hidden>Education Level</option>
                    <option value="JD">JD</option>
                    <option value="MD">MD</option>
                    <option value="PhD">PhD</option>
                    <option value="Masters">Masters</option>
                    <option value="High School">High School</option>
                    <option value="College">College</option>
                    <option value="Associate">Associate</option>
                </select>
                <input class="form-option" type="number" name="premium" id="premium" min="400" max="2100" placeholder="Policy Premium (₹)">
                <select name="deductable" class="form-option" required>
                    <option value="" selected disabled>Policy Deductable (₹)</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                </select>
                <select name="incident_type" class="form-option" required>
                    <option value="" selected disabled hidden>Incident Type</option>
                    <option value="Multi-vehicle Collision">Multi Vehicle Collision</option>
                    <option value="Single Vehicle Collision">Single Vehicle Collision</option>
                    <option value="Vehicle Theft">Vehicle Theft</option>
                    <option value="Parked Car">Parked Car</option>
                </select>
                <select name="collision_type" class="form-option" required>
                    <option value="" selected disabled hidden>Collision Type</option>
                    <option value="Front Collision">Front Collision</option>
                    <option value="Rear Collision">Rear Collision</option>
                    <option value="Side Collision">Side Collision</option>
                </select>
                <select name="incident_severity" class="form-option" required>
                    <option value="" selected disabled hidden>Incident Severity</option>
                    <option value="Major Damage">Major Damage</option>
                    <option value="Minor Damage">Minor Damage</option>
                    <option value="Trivial Damage">Trivial Damage</option>
                    <option value="Total Loss">Total Loss</option>
                </select>
                <select name="authorities_contacted" class="form-option" required>
                    <option value="" selected disabled hidden>Authorities Contacted</option>
                    <option value="Police">Police</option>
                    <option value="Ambulance">Ambulance</option>
                    <option value="Fire">Fire</option>
                    <option value="Other">Other</option>
                </select>
                <select name="property_damage" class="form-option" required>
                    <option value="" selected disabled>Property Damage</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <select name="vehicles_involved" class="form-option" required>
                    <option value="" selected disabled>Total Vehicle Involved</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <select name="bodily_injuries" class="form-option" required>
                    <option value="" selected disabled>Bodily Injuries</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                <select name="witnesses" class="form-option" required>
                    <option value="" selected disabled>Witnesses</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <input class="form-option" type="number" name="injury_claim" id="injury_claim" min="0" max="25000" placeholder="Injury Claim (₹)">
                <input class="form-option" type="number" name="vehicle_claim" id="vehicle_claim" min="100" max="80000" placeholder="Vehicle Claim (₹)">
                <div class="button-container">
                    <a href="/">Back</a>
                    <button type="submit">Submit</button>
                </div>

            </form>
        </div>
    </main>

    <script>
        const selectBoxes = document.querySelectorAll('.form-option');
        selectBoxes.forEach(selectBox => {
            selectBox.addEventListener('change', () => {
                selectBox.style.color = '#fff';
            });
        });
    </script>

</body>

</html>