<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarClaim</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>

<body>
    <main>
        <header>
            <nav class="nav-bar">
                <a id="project-title" class="nav-item" href="">CarClaim</a>
                <ul>
                    <li><a class="nav-item" href="#home">Home</a></li>
                    <li><a class="nav-item" href="#project">Overview</a></li>
                    <li><a class="nav-item" href="#about">About Me</a></li>
                    <li><a class="nav-item" href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <img class="bg-image" src="/static/files/download.jpg" alt="bg">
        <section id="home" class="page">
            <img class="page_bg_img" src="/static/files/lambo.jpg" alt="">
            <p>Welcome to CarClaim | Verify Car Insurance Claim Here</p>
            <a class="button" href="/form">Start</a>
        </section>
        <section id="project" class="page">
            <div class="section">
                <img src="/static/files/ai.webp" alt="">
                <p><strong>Overview</strong>
                    <br>Welcome to CarClaim: Detecting Insurance Fraud.
                    An intelligent system designed to detect potential car insurance fraud. Whether you’re an insurance professional, 
                    a policyholder, or an investigator, our platform provides valuable insights into the legitimacy of car claims.
                    <br>
                    <br><strong>Technology Stack</strong>
                    <br>Frontend : An intuitive user interface using HTML and CSS, ensuring an appealing design that’s easy to navigate.
                    <br>Backend : Runs on Python and Flask, allowing seamless communication between the frontend and the machine learning model.
                    <br>Machine Learning : Detection model leverages a Decision Tree algorithm, analyzing claim data to identify suspicious patterns.
                    <br>
                    <br><strong>How it works</strong>
                    <br>Input Data : Users submit essential information related to car claims, accident details, 
                    policy history, and claimant profiles.
                    <br>Fraud Detection : ML model processes this data, flagging potentially fraudulent 
                    claims based on historical patterns and records.
                    <br>Result : Instantly tells a claim is fraud or not, empowering insurance professionals 
                    to make informed decisions.
                </p>
            </div>
        </section>
        <section id="about" class="page">
            <img id="about_img" src="/static/files/korg.jpeg" alt="">
            <div class="info">
                <p>
                    <strong>Himanshu Kumawat</strong>
                    <br>B.Tech student at PIET
                    <br>Skills: C, C++, Java, JavaScript, SQL, HTML, CSS, php, Graphics
                </p>
                <img src="/static/files/profile.JPG" alt="">
            </div>
        </section>
        <section id="contact" class="page">
            <img id="last_img" src="/static/files/green.jpg" alt="">
            <div class="social-media">
                <a href="https://www.linkedin.com/in/iamhimanshu98/" >
                    <img class="icon" src="/static/files/linkedin.png" alt="">Linkedin</a>
                <a href="https://github.com/iamhimanshu98" >
                    <img class="icon" src="/static/files/github.png" alt="">Github</a>
                <a href="https://www.instagram.com/i.am.himanshu98/" >
                    <img class="icon" src="/static/files/instagram.png" alt="">Instagram</a>
                <a href="https://leetcode.com/u/iamhimanshu98/" >
                    <img class="icon" src="/static/files/coding.png" alt="">Leetcode</a>
            </div>
            <div class="copyright">
                <p>copyright © CarClaim.com | All rights reserved</p>
            </div>
        </section>
    </main>

</body>

</html>