@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Verdana, sans-serif;
    color: white;
}
:root {
    --color1 : rgb(69, 37, 130);
    --color2 : #353965;
    --color3 : rgb(220, 220, 247);
    --color4 : #ff996e;
}
.bg-image {
    max-width: 150vw;
    position: fixed;
    width: 150vw;
    z-index: -100;
    background-color: rgb(1, 1, 33);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: rgb(20, 3, 63);
    min-height: 100vh;
}
.nav-bar {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5em;
    gap: 2em;
    font-size: 1.4rem;
    font-weight: 500;
    height: 6rem;
    background-color: #201b3944;
    z-index: 10;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
}

.nav-item {
    text-decoration: none;
}

#project-title {
    font-size: 2rem;
    color: white;
    transition: all 0.3s;
    font-family: "Permanent Marker";
}

#project-title:hover {
    color: var(--color3);
}

.container {
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    flex-direction: column;
    height: auto;
    margin-bottom: -2px;
    min-height: 100vh;
    padding: 6em 6em 6em;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10rem);
}

.welcome {
    margin-top: 3em;
    font-weight: 500;
    text-wrap: wrap;
}

.welcome p {
    font-size: 1.6rem;
    word-spacing: 5px;
    text-align: center;
}

strong {
    font-weight: 700;
}

.card {
    z-index: 10;
    margin: 2em 2em 0em;
    padding: 4em;
    backdrop-filter: blur(5px);
    background-color: rgba(236, 226, 255, 0.02);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    height: auto;
    min-width: 70vh;
    word-spacing: 5px;
    line-height: 2rem;
}

.prediction {
    font-family: "Poppins", Verdana, sans-serif;
    font-size: 30px;
    margin: 2em 0 1em;
    text-decoration: none;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1em;
}

.buttons a {
    width: auto;
    border: none;
    padding: 1rem 2rem;
    margin-top: 1em;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: all 0.3s;
    background-color: rgba(161, 201, 203, 0);
    border: 1px solid  #aaaaaa00;
}

#home:hover, #back:hover  {
    background-color: #e3d0ff15;
    border: 1px solid  #f1e2ff78;
    box-shadow: 0 0 5px rgba(231, 203, 255, 0.33);
}

.message {
    font-size: 2.2rem;
    margin-bottom: 1em;
    font-weight: 500;
    color: white;
}

.card li {
    font-size: 1.6rem;
    color: #efefef;
    margin: 0.4em 0;
    font-weight: 300;
    list-style: none;
    line-height: 3rem;
}

.card li strong {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0.3em 0;
    color: #b6b6b6;
}

.prediction p,
.prediction strong {
    font-size: 2.2rem;
    font-weight: 700;
}
